[Unit]
Description=Linux device manager for logitech
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/solaar --window hide --battery-icons symbolic
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=graphical-session.target
