[Unit]
Description=Application launcher
PartOf=graphical-session.target
Requires=elephant.service
After=graphical-session.target
After=elephant.service

[Service]
Type=simple
ExecStart=/usr/bin/walker --gapplication-service
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=graphical-session.target
